<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>{{title}}</title>
    {% block head_content %}{% endblock %}
</head>
<body>
<div class="page">
    <div class="navbar">
        <button>Button 1</button>
        <button>Button 2</button>
        <!-- Add more buttons as needed -->
    </div>
    <div class="sidebar">
        <div class="menu">
            <!-- Empty menu content -->
        </div>
    </div>
    <div class="center">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">Primer za vezbe iz predmeta Softverski obrasci i komponente</div>
</div>
</body>
</html>