{% block head_sadrzaj %}
<style>

.node {
  cursor: pointer;
  color: #046ebd;

}

.link {
  fill: none;
  stroke: #046ebd;
  stroke-width: 1.5px;
}
#bird_svg {
    pointer-events: none;
}
</style>
    <script>
    function nodeClickBird(el) {
         console.log(el.id, " :bird")
        // Check the current fill color
        let currentColor = d3.select(el).select('circle').attr('fill');

        // Toggle between red and orange
        let newColor = currentColor === 'red' ? 'orange' : 'red';

        // Set the new color
        d3.select(el)
            .selectAll('circle')
            .attr('fill', newColor);
        bird_block(el.id)
    }
</script>
{% endblock %}
{% block bird_view_content %}
<div>
    <svg id="bird_svg" width="570" height="650">
    </svg>
</div>
<script>




    function urlToValidId(url) {
        // Replace invalid characters with underscores
        return url.replace(/[^a-zA-Z0-9-_]/g, '_') + '_';
    }

    function urlToValidName(url) {
       const regex = /[^/]*(?:\/([^\/#]+))?(?:#([^#]+))?$/;
        const match = url.match(regex);

        if (match) {
            const [ , lastSegment, fragment ] = match;
            return fragment ? fragment : lastSegment;
        }

        // If there's no match, return the original URL
        return url;
    }

    let secondSvg = d3.select('#bird_svg')
        .attr('width', 570) // Set the width of the SVG
        .attr('height', 570) // Set the height of the SVG
        .append('g');

    secondSvg.attr('viewBox', '0 0 300 300')
        .attr('preserveAspectRatio', 'xMidYMid meet');


    let birdViewportRect = secondSvg.append('rect')
    .attr('id', 'birdViewportRect')
    .attr('x', 0)      // Initial X position
    .attr('y', 0)      // Initial Y position
    .attr('width', 570) // Initial width
    .attr('height', 570) // Initial height
    .style('fill', 'none')
    .style('stroke', 'blue')
    .style('stroke-width', '2px');

    function updateBirdViewportRect(translateX, translateY, scale) {

        // Update the rectangle attributes based on the current transformation
       birdViewportRect.attr('x', -translateX / scale)
        .attr('y', -translateY / scale)
        .attr('width', 570 / scale)
        .attr('height', 570 / scale);
    }

    // Stletno iscrtavanje linkova koji su prikazani linijama.
    let secondLink = secondSvg.selectAll('.link')
    .data(links)
    .enter().append('line')
    .attr('class', 'link')
    .attr('x1', function (d) { return d.source.y; })
    .attr('y1', function (d) { return d.source.x; })
    .attr('x2', function (d) { return d.target.y; })
    .attr('y2', function (d) { return d.target.x; });

let secondNode = secondSvg.selectAll('.node')
    .data(force.nodes())
    .enter().append('g')
    .attr('class', 'node')
    .attr('id', function (d) { return urlToValidId(d.id); });


    if("{{ graph_name }}" === "SimpleVisualiser"){
        secondNode.each(function (d) {
            simpleView(d);
        });
    }else{
        secondNode.each(function (d) {
            complicatedView(d);
        });
    }

     secondSvg.call(d3.behavior.zoom().on("zoom", function () {
            console.log("Entered zoom")
            // Disable zooming for the second SVG
            d3.event.sourceEvent.preventDefault();
            d3.event.sourceEvent.stopPropagation();

            const scale = 0.5; // Adjust the scale factor as needed
            const translateX = d3.event.translate[0] * scale;
            const translateY = d3.event.translate[1] * scale;
            secondSvg.attr("transform", "translate(" + translateX + "," + translateY + ") scale(" + scale + ")");
            updateBirdViewportRect(translateX, translateY, scale);
        }));



    function block_bird(node_id){
        console.log("vepar")
        const selectedNode = d3.select('g#' + urlToValidId(node_id));

        if (!selectedNode.empty()) {
            console.log("prase")
            let currentColor = selectedNode.select('circle').attr('fill');
            let newColor = currentColor === 'red' ? 'yellow' : 'red';
            console.log("krme")
            selectedNode.selectAll('circle')
                .attr('fill', newColor);
            bird_tree(urlToValidId(node_id))
    }
    }

    function block_bird2(node_id){
        console.log("vepar")
        const selectedNode = d3.select('g#' + urlToValidId(node_id));

        if (!selectedNode.empty()) {
            console.log("prase")
            let currentColor = selectedNode.select('rect').attr('fill');
            let newColor = currentColor === 'red' ? 'yellow' : 'red';
            console.log("krme")
            selectedNode.select('rect')
                .attr('fill', newColor);
            bird_tree(urlToValidId(node_id))
    }
    }

</script>
{% endblock %}